node_modules/

.env
.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/
.idea/

dist/
build/
out/

.cache/

package-lock.json
yarn.lock

*.suo
*.user
*.userosscache
*.sln.docstates

vuetify-config.json

*.log
logs/

tsconfig.json
tsconfig.*.json

jest.config.js
jest.setup.js

.eslintrc.js
.eslintignore

.prettierrc
.prettierignore

.babelrc
babel.config.js

webpack.config.js
webpack.*.js

vue.config.js